{
    "extends": ["plugin:flowtype/recommended"],
    "plugins": ["flowtype"],
    "rules": {
        "flowtype/require-valid-file-annotation": [2, "always"],
        "no-unused-vars": [2, "always"]
    }
}
