.registration-page {
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registration-card {
    max-width: 450px;
    border: 1px solid lightgray;
    background: #ffffff;
    padding: 44px 65px;
    border-radius: 2px;
    &__title {
        font-size: 32px;
        color: #1371f4;
        padding: 0 0 20px 0;
    }
}
